head
	title Hello world
	meta(http-equiv="content-type" content="text/html; charset=UTF-8")
	meta(name="description" content="")
	meta(name="keywords" content="")
	link(rel='stylesheet' href='vendor/css/normalize.css' type="text/css")
	link(rel='stylesheet' href='vendor/css/font-awesome.min.css' type="text/css")
	link(rel='stylesheet' href='css/main.min.css' type="text/css")
	script(src='js/main.min.js')