head
	title Hello world
	meta(http-equiv="content-type" content="text/html; charset=UTF-8")
	meta(name="description" content="")
	meta(name="keywords" content="")
	//- meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;")
	link(rel='stylesheet' href='bower_components/competent-meyerweb-reset/reset.css' type="text/css")
	link(rel='stylesheet' href='bower_components/fontawesome/css/font-awesome.min.css' type="text/css")
	link(rel='stylesheet' href='css/main.css' type="text/css")
	script(src='js/main.js')