primary = #999999
h1 = #ec4444
h2 = #484848
h3 = #44a7ec
link = #44a7ec
icon = #313131
menu = #e2e2e2
delimiter = #cccccc
footer = #484848
header = #484848
dark = #373737

primaryFont = Arial, sans-serif
headerFont = 'Trebuchet MS', sans-serif
twitterFont = Tahoma, sans-serif

*
	// outline 1px solid olive

.b-container
	width 960px
	margin 0 auto
.b-delimiter
	position absolute
	right 0
	left 0
	border-top 1px dashed delimiter
.i-row:after
	content ''
	display block
	clear both
.b-col2
	float left
	width 50%
.i-col2--left
	margin-right 10px
.i-col2--right
	margin-left 10px
.b-col4
	float left
	width 25%

.b-header
	&:before
		content ''
		position absolute
		left 0
		right 0
		height 40px
		z-index -1
		background header
	&__nav
		display inline-block
		padding 0
		margin 0
		&__item
			list-style none
			display inline-block
			margin-right 13px
			&__link
				text-transform uppercase
				font-size 11px
				font-family primaryFont
				color primary
				text-decoration none
				display block
				margin 11px 0 9px 0
				line-height 20px
				&:hover
					text-decoration underline

	&__login
		display block
		float right
		margin 10px 0
		&__title
			color primary
			font-family primaryFont
			font-size 11px
			text-transform uppercase
		&__user
			border 0
			color dark
			font-family primaryFont
			font-size 11px
			height 16px
			margin 0
			padding 0
			width 100px
		&__pass
			border 0
			color dark
			font-family primaryFont
			font-size 11px
			height 16px
			margin 0
			padding 0
			width 100px
		&__button
			border 0
			color dark
			font-family primaryFont
			font-size 11px
			height 16px
			margin 0
			padding 0
			width 20px

.b-main
	&__logo
		padding 14px 0 19px 0
	&__menu
		height 40px
		background menu
		&__nav
			padding 0
			margin 0
			display inline-block
			&__item
				display inline-block
				&__link
					color dark
					text-decoration none
					text-transform uppercase
					font-family primaryFont
					font-size 12px
					display block
					margin 0 13px 0 15px
					padding 10px 0 10px 0
					line-height 20px
					&:hover
						color primary
						text-decoration none
		&__search
			float right
			margin 10px 0 0 0
			&__query
				height 10px
				font-size 10px
				width 150px
			&__button
				position absolute
				margin-top -20px
				margin-left 130px
				font-size 10px
				height 20px
				width 20px
	&__app
		&__header
			color h1
			font-family headerFont
			font-size 50px
		&__params
			margin 0
			padding 0
			&__item
				list-style none
				font-face primaryFont
				font-size 12px
				color dark
		&__link
			&__img
				border 0
.b-products
	&__header
		&__link
			color header
			font-family headerFont
			font-size 25px
			text-decoration none
			&:hover
				color lighten(header, 30%)
	&__item
		padding 10px
		&__header
			&__link
				color link
				font-family headerFont
				font-size 20px
				text-decoration none
				&:hover
					color lighten(link, 30%)
		&__text
			font-family primaryFont
			color dark
		&__img
			z-index 1
.b-blog
	&__header
		&__link
			font-family headerFont
			color header
			text-decoration none
			&:hover
				color lighten(header, 30%)
	&__item
		outline 1px solid silver




.b-bottom
.b-footer
	display none
