grey = #919191
greyDark = #484848
greyDarken = #373737
greyIcons = #313131
greyLight = #e2e2e2
blue = #44a7ec
red = #ec4444

mainFont = Arial, sans-serif
headerFont = 'Trebuchet MS', sans-serif
twitFont = Tahoma, sans-serif

// .header
.main
.logo
.menu
.app
.footer
.section
	display none

*
	outline 1px solid olive