doctype html
html
	include src/head.jade
	body
		.b-container
			.b-header
				ul.b-nav
					each val in ['about us', 'privacy', 'terms', 'contact']
						li.b-nav__item
							a.b-nav__item__link.b-nav__item__link--header(href='javascript:void(0)')= val
				form.b-login
					span.b-login__title client login
					input.b-login__input(type='text' name='username' placeholder='Username')
					input.b-login__input(type='text' name='password' placeholder='Password')
					button.b-login__button(type='button' name='login') Go

			img.b-logo(src='images/logo.png' alt='main logo')

			.b-menu
				ul.b-nav
					each val in ['company', 'products', 'services', 'support', 'partners', 'blog']
						li.b-nav__item
							a.b-nav__item__link.b-nav__item__link--menu(href='javascript:void(0)')= val
				form.b-search
					input.b-search__query(type='text' placeholder='Search our site...')
					button.b-search__button(type='button' name='search')
						i.fa.fa-search

			.b-app
				img.b-app__logo-big(src='images/logo-big.png')
				h1.b-heading.i-h1 myTweetz v2.0
				ul.b-app__list
					li.b-app__item Lorem ipsum dolor sit amet, consectetur adipisicing elit
					li.b-app__item Tempor incididunt ut labore et dolore magna aliqua
					li.b-app__item Quis nostrud exercitation ullamco laboris nisi ut aliquip
					li.b-app__item Consequat. Duis aute irure dolor in reprehenderit in voluptate
					li.b-app__item Cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
				a.b-appstore(href='javascript:void(0)')

			.b-delimiter
			.b-section.i-row
				h2.b-heading
					a.b-heading__link.i-h2(href='javascript:void(0)') Products
				.b-col4
					.b-product
						img.b-product__img(src='images/ipad.png' alt='ipad')
						h4.b-heading
							a.b-heading__link.i-h4(href='javascript:void(0)') iPhone &amp; Ipad Apps
						p.b-product__text Lorem ipsum dolor sit amet, consectetur adipisicing elit
				.b-col4
					.b-product
						img.b-product__img(src='images/bb.png' alt='bbry')
						h4.b-heading
							a.b-heading__link.i-h4(href='javascript:void(0)') Blackberry Apps
						p.b-product__text Lorem ipsum dolor sit amet, consectetur adipisicing elit
				.b-col4
					.b-product
						img.b-product__img(src='images/wp.png' alt='winphone')
						h4.b-heading
							a.b-heading__link.i-h4(href='javascript:void(0)') Windows Phone Apps
						p.b-product__text Lorem ipsum dolor sit amet, consectetur adipisicing elit
				.b-col4
					.b-product
						img.b-product__img(src='images/pc.png' alt='pc')
						h4.b-heading
							a.b-heading__link.i-h4(href='javascript:void(0)') Windows PC Apps
						p.b-product__text Lorem ipsum dolor sit amet, consectetur adipisicing elit

			.b-delimiter
			.b-section.i-row
				h2.b-heading
					a.b-heading__link.i-h2(href='javascript:void(0)') From our blog
				.b-col2
					.b-blog.i-col2--left
						h3.b-heading
							a.b-heading__link.i-h3(href='javascript:void(0)') Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						p.b-blog__info
							| 06/16/2012 by&nbsp;
							a.b-blog__info__link(href='javascript:void(0)') Lorem Ipsum
							| &nbsp;in&nbsp;
							a.b-blog__info__link(href='javascript:void(0)') Products
						img.b-blog__img(src='images/blog-1.png' alt='blog 1')
						p.b-blog__text.
							sed do eiusmod tempor incididunt ut lab
							ore et dolore magna aliqua.
							Ut enim ad minim veniam, quis nostrud e
							xercitation ullamco laboris nisi ut
							aliquip ex ea commodo consequat. Duis a
							ute irure dolor in reprehenderit in
							voluptate velit esse
							xercitation ullamco laboris nisi ut
							aliquip ex ea commodo consequat. Duis a

				.b-col2
					.b-blog.i-col2--right
						h3.b-heading
							a.b-heading__link.i-h3(href='javascript:void(0)') Ut enim ad minim veniam, quis nostrud exercitation ullamco.
						p.b-blog__info
							| 06/15/2012 by&nbsp;
							a.b-blog__info__link(href='javascript:void(0)') First Lastname
							| &nbsp;in&nbsp;
							a.b-blog__info__link(href='javascript:void(0)') Company
						img.b-blog__img(src='images/blog-2.png' alt='blog 2')
						p.b-blog__text.
							sed do eiusmod tempor incididunt ut lab
							ore et dolore magna aliqua.
							Ut enim ad minim veniam, quis nostrud e
							xercitation ullamco laboris nisi ut
							aliquip ex ea commodo consequat. Duis a
							ute irure dolor in reprehenderit in
							voluptate velit esse
							xercitation ullamco laboris nisi ut
							aliquip ex ea commodo consequat. Duis a

			.b-delimiter
			.b-section.i-row
				.b-col2
					.b-about-us.i-col2--left
						h2.b-heading
							a.b-heading__link.i-h2(href='javascript:void(0)') About us
						p.b-about-us__text.
							Lorem ipsum dolor sit amet, consectetur
							adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore ma
							gna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco labori
							s nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in repr
							ehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur.
							Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia dese
							runt mollit anim id est laborum.
						a.b-about-us__link(href='javascript:void(0)') Read more
				.b-col2
					.i-col2--right
						h2.b-heading
							a.b-heading__link.i-h2(href='javascript:void(0)') Twitter feed
						.b-twit
							a.b-twit__link(href='javascript:void(0)') 1 hour ago
							p.b-twit__text.
								Lorem ipsum dolor sit amet, co
								nsectetur adipisicing elit, sed
								do eiusmod tempor incididunt u
								t labore et dolore magna aliqua.
						.b-twit
							a.b-twit__link(href='javascript:void(0)') 06/21/2012
							p.b-twit__text.
								Ut enim ad minim veniam, qu
								is nostrud exercitation ullamco
								laboris nisi ut aliquip ex
								ea commodo.
						.b-twit
							a.b-twit__link(href='javascript:void(0)') 06/19/2012
							p.b-twit__text.
								Excepteur sint occaecat cupida
								tat non proident,
								sunt in culpa qui officia dese
								runt mollit anim id est laborum.

			.b-footer
				p.b-copy
					| Copyright © 2012 SomeCorp. All rights Reserved. | &nbsp;
					a.b-copy__link(href='javascript:void(0)') Disclaimer
					| &nbsp;&amp;&nbsp;
					a.b-copy__link(href='javascript:void(0)') Privacy Policy
				ul.b-nav.b-nav--social
					each val in ['twitter', 'facebook-square', 'stumbleupon-circle', 'vimeo-square']
						li.b-nav__item
							a.b-nav__item__link.b-nav__item__link--social(href='javascript:void(0)')
								i.fa(class='fa-'+val)
